body {
    background-image: url('../images/board.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    background-size: contain;
    background-image: url('../images/papa_takaro.svg');
    width: 500px;
    height: 500px;
}

.my-text-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-top: 20px;
}

.my-button {
    display: block;
    height: 50px;
    width: 186px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #964B00;
    color: white;
    font-size: 14px;
    text-align: center;
}

.black-round-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%; /* Делаем кнопку круглой */
    padding: 20px 20px;
    cursor: pointer;
}

.red-round-button {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 50%; /* Делаем кнопку круглой */
    padding: 20px 20px;
    cursor: pointer;
}

.non-active-round-button {
    background: transparent;
    border: none !important;
    font-size: 0;
}

.id0 {
    position: absolute;
    top: 304px;
    left: 724px;
}

.id1 {
    position: absolute;
    top: 54px;
    left: 620px;
}

.id2 {
    position: absolute;
    top: 200px;
    left: 474px;
}

.id3 {
    position: absolute;
    top: 408px;
    left: 474px;
}

.id4 {
    position: absolute;
    top: 554px;
    left: 620px;
}

.id5 {
    position: absolute;
    top: 554px;
    left: 828px;
}

.id6 {
    position: absolute;
    top: 408px;
    left: 974px;
}

.id7 {
    position: absolute;
    top: 200px;
    left: 974px;
}

.id8 {
    position: absolute;
    top: 54px;
    left: 828px;
}
